@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background: #efefef;
}
.Arristable {
  overflow-y: auto;
}
.bi-journal-check,
.bi-power,
.bi-collection {
  color: #f44336;
}
.bi-laptop-fill {
  color: rgb(216, 27, 96);
}
.bi-people-fill {
  color: rgb(61, 174, 67);
}
.bi-person-bounding-box {
  color: rgb(230, 221, 221);
}

.bi-explicit-fill {
  color: rgb(26, 115, 232);
}
div#root {
  background: #efefef;
  height: auto;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px !important;
}
.loginPage {
  background: url("./assets/back.jpg");
  background: linear-gradient(-125deg, #514c4e 47%, #514c4e 41%),
    url(/src/assets/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm {
  background-color: White;
  color: Black;
}

.employee_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.empImg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.statustd {
  /* background: green !important; */
  /* color: white !important; */
  text-align: center;
}
.table button:first-child,
.table a:first-child {
  background: green;
}

.table button,
.table a {
  border: none;
  background: red;
  color: white;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.counterCard {
  /* box-shadow: 0px -1px 8px 0px #868484; */
  border-radius: 7px;
  padding: 15px;
  background: white;
  border: none;
  box-shadow: rgba(147, 146, 146, 0.25) 0px 14px 28px,
    rgba(132, 123, 123, 0.22) 0px 10px 10px;

  border-width: 1.9px;
  /* border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(142, 25, 201, 0.961), 
      rgb(255, 255, 255)
    ) 1  1 10%; */
}

.sideBar {
  --bs-bg-opacity: 1;
  background-color: white;
  border-radius: 4px;
  /* transition: all 0.6s ease; */
}
.sideBar a {
  color: black !important;
  font-size: 14px;
}

.mainBody {
  padding: 20px 40px 11px;
  /* height: 100vh; */
  overflow: auto;
  /* background-color: red; */
}

.headerBar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background: white;
  border-radius: 4px;
}

.count {
  text-align: center;
  background: #514c4e;
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.counts {
}

.heading {
  margin: 20px 0px;
}
.loginform {
  margin: 8px 0 0px 0px;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  padding: 0px;
  background: none;
}
form {
  border-radius: 10px;
  margin: 8px 0 0px 0px;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  background: white;
  padding: 20px;
}
.button {
  padding: 12px 23px;
  margin: 20px 0px;
}

.min-vh-91 {
  min-height: 89vh !important;
}
.addBtn a {
  color: white;
  background: #f44336;
}
.addBtn {
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.startDesign {
  background: linear-gradient(212deg, #ffffff 48%, #514c4e 35%);
  border-radius: 10px;
  padding: 15px 0px;
  height: 100%;
  display: flex;
}
.loginSection {
  margin-top: 45px;
}
marquee {
  padding: 15px;
  height: 95%;
}
.carousel-inner {
  height: 300px;
}
.flashUpdate {
  height: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #514c4e;
  border-radius: 10px;
}
.updates {
  background: #c5c5c5;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  color: black;
  margin-bottom: 20px;
  align-items: center;
}
.loginSection button {
  width: 42%;
}
.btn-success {
  background: white !important;
  color: #514c4e !important;
  border: none !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.btn-primary {
  background: #fe3500 !important;
  border: none !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.actions i {
  color: #fdfdfd;
  background: #fe3500;
  font-size: 20px;
  padding: 4px;
  margin: 2px;
  cursor: pointer;
  border-radius: 3px;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.formDesign {
  margin: 0px !important;
}
.tablesss th {
  background: #acacac6e !important;
  padding: 4px 10px !important;
  border: 1px solid #efefef;
  vertical-align: middle;
  font-size: 14px;
}
.tableSection {
  width: 100%;
  overflow: auto;
  height: 72vh;
  padding-right: 83px;
  margin: 0;
  position: relative;
  border-radius: 10px;
}
hr {
  margin: 0px !important;
}
tbody td {
  padding: 5px 10px !important;
}
.tableHead {
  min-width: 150px;
}
.fixedColumn {
  /* position: fixed;
  right: 16px;
  min-width: 100px;
  min-height: 60px;
  background: white;
  z-index: 99; */
  /* display: flex; */
  /* align-items: center; */
}
.expandMenu {
  position: absolute;
  left: 15%;
  background: #fe3500;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.colaps {
  left: 0%;
}
.smallboxTL {
  width: 65px;
  height: 65px;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: -33px;
  border-radius: 10px;
}
.smallboxE {
  width: 65px;
  height: 65px;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: -33px;
  border-radius: 10px;
}
.smallboxHR {
  width: 65px;
  height: 65px;
  background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: -33px;
  border-radius: 10px;
}
.smallboxP {
  width: 65px;
  height: 65px;
  background: linear-gradient(195deg, rgb(236, 64, 122), rgb(216, 27, 96));
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: -33px;
  border-radius: 10px;
}

.icon_admin {
  color: rgb(255, 255, 255);
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
.counts p {
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  font-family: unset;
  color: rgb(123, 128, 154);
}
.counts h3 {
  text-align: center;
}
.counterCardmain {
  border-bottom: 1px solid rgba(18, 166, 215, 0.25);
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.counterCardname {
  padding-top: 10px;
}
.counterCardTitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  font-family: unset;
  color: rgb(123, 128, 154);
}

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* height: 100vh; */
  width: 100%;
  background-image: url("images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}

.arris-page .sidebar {
  width: 100px;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(17px);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
  z-index: 99;
  /* height: 100vh; */
  /* overflow-y: auto;
  overflow-x: hidden; */
}
.leavetable tr td {
  transition: all 0.3s;
}
.sidebar:hover {
  width: 200px;
  background-color: white;
}

.sidebar .logo {
  color: #000;
  display: flex;
  align-items: center;
  padding: 12px 10px 0px;
}

.logo img {
  width: 85px;
  border-radius: 10%;
}

.logo h2 {
  font-size: 1.15rem;
  font-weight: 700;
  margin-left: 55px;
  display: none;
}

.sidebar:hover .logo h2 {
  display: block;
}

.sidebar .links {
  display: inline-table;
  scrollbar-width: none;
  margin: 0;
  padding: 21px 0 12px;
  overflow: auto;
  height: 92vh;
  overflow: auto;
  color: black;
  z-index: 9;
  width: 100%;
}
.sidebar .links::-webkit-scrollbar {
  display: none;
}

.links li {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-bottom: 1px solid #f2f2f2;
}
.links .txt_col {
  color: black;
  padding: 10px 0px;
  font-size: 14px;
}

.links li:hover {
  cursor: pointer;
  background: #605d5d70;
  border-radius: 5px;
}

.links h4 {
  color: #202020;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
}

.sidebar:hover .links h4 {
  display: block;
  font-size: 18px !important;
}

.links hr {
  margin: 10px 8px;
  border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
  border-color: transparent;
}

.links li span {
  padding: 10px 10px;
}

.links li a {
  padding: 10px 0px;
  color: #000;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar:hover .links li a {
  display: block;
  width: 100%;
}

.links .logout-link {
  margin-top: 20px;
}
.table-list-data {
  overflow-y: scroll;
  height: 100%;
}
.submenu {
  position: absolute;
  background: white;
  padding: 10px;
  z-index: 99999;
  left: 100%;
  bottom: 0;
  color: black;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  display: none;
  margin-bottom: 10px;
  bottom: 0;
  z-index: 9999999;
}
li.multimenu:hover {
  display: block;
}
li.multimenu:hover .submenu {
  display: block !important;
}
.sidebar:hover .links li {
  justify-content: flex-start !important;
}
.submenu a {
  justify-content: start;
  padding: 5px 12px !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
  text-align: left;
  justify-content: start;
}
.ag-theme-alpine {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px !important;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.ag-root-wrapper {
  border: none !important;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #c5c5c5;
}
.ag-header {
  background: #d0d0d0 !important;
}
th.days {
  text-align: center;
  min-width: 100px;
  font-size: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: whtie;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: whtie;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eaeaea;
}
.inputTextStyle .MuiInputBase-input {
  padding: 10px;
}
.noPaddingInput .MuiInputBase-input {
  padding: 5px 10px;
  background-color: white;
}
.textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  min-height: 100px;
  border: 1px solid #d4d4d4;
}
ul.updateslist {
  margin: 28px 0px 0px;
  line-height: 29px;
  list-style: none;
  color: #fe3500;
  font-weight: bold;
}
ul.updateslist li {
  border-bottom: 1px solid #eee7e7;
  margin-bottom: 9px;
  border-radius: 4px;
}